version: '3'
services:
    odoo:
        container_name: odooBrasil
        image: mbkappes/odoo-brasil:14
        stdin_open: true # docker run -i
        tty: true        # docker run -t
        volumes:
                - ./addons-lymt:/mnt/extra-addons
                - ./config/odoo:/etc/odoo        
                - odoo-web-data:/var/lib/odoo
        ports:
                - "24:8069"
                - "2472:8072"                   
    db:
        image: postgres:13
        restart: always
        container_name: psqlOdooBrasil
        environment:
                - POSTGRES_PASSWORD=odoo
                - POSTGRES_USER=odoo
                - POSTGRES_DB=postgres
                - PGDATA=/var/lib/postgresql/data/pgdata
        ports:
                - "127.0.0.1:2432:5432"
        volumes:
                - ./odoo-db-data:/var/lib/postgresql/data/pgdata
        logging:
                driver: json-file
                options:
                        max-size: "30m"
                        max-file: "10"          
volumes:
    odoo-web-data:
    odoo-db-data:
