/*table agendamento */


h1,
h2 {
  font-family: Lato;
}

#app {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

/*cometerio de tabela */
.descricao,
th {
  font-size: 18px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  text-align: center;
}
/* barra de estado  */
.barra ul li {
  list-style: none;
  display: inline-block;
  float:right;
  width: 20%;
  text-align: center;
}
.barra_estado01,
.barra_estado03,
.barra_estado04 {
  width: 70%;
  height: 6px;
  margin-left: 15%;
  margin-top: 2px;
}
.barra_estado01 {
  background-color: gray;
}
.barra_estado03 {
  background-color: #00bfff;
}
.barra_estado04 {
  background-color: #7C7BAD;
}
.barra {
  overflow: hidden;
  margin:17px 35px;
}

.data-header {
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  /* gap: 10px; */
  border: 2px solid  #7C7BAD;
  border-radius: 4px;
}

.data-header:hover {
  background-color:  #7C7BAD;
  color: white;
  cursor: pointer;
}

.data-dia-semana {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}

.data-dia-mes {
  font-size: 1rem;
  font-weight: 500;
}

/* table  */
table{
display: flex;
justify-content: center;
/* margin-bottom: 20px; */
margin:0px 0px 20px 20px;
}
th{
  padding: 5px 20px;
}
.selecionado {
  background-color:  #7C7BAD;
  color: white;
  cursor: pointer;
}

/* .data-dia-mes:hover {
  color: white;
}
.data-dia-semana:hover {
  color: white;
} */
tr {
    position: relative;
 
}
/*table button */
.tab_hour {
  list-style-type: none;
/*   margin: 25px 0 0 0; */
  padding: 0;
}

.tab_hour li {
  float: left;
  margin:0 5px 5px 0;
  width: 100px;
  height: 40px;
  position: relative;
  
}

.tab_hour label,
.tab_hour input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab_hour input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.tab_hour input[type="radio"]:checked+label,
.Checked+label {
  background: #00bfff;
  border: 2px solid #00bfff;
}

.tab_hour label {
  padding: 3px;
  border: 2px solid  #7C7BAD;
  cursor: pointer;
  z-index: 90;
  height: 40px;
}

.tab_hour label:hover {
  background:  #7C7BAD;
}